
/*
.map{
	margin-top:5%;
	margin-left:5%;
	margin-bottom:5%;
	padding:20px;
}

	
.map-responsive iframe {
	height: 600px;
	width: 400px;
	background: white;
	height:100%;
	width:100%;
	position:absolute;
}

.map-responsive {
	width:100%;
}


form{
    padding: 27px;
    height: 50%;
    width: 45%;
    float: left;
	margin-top: 5%;
	margin-bottom: 10%;
    margin-right: 7%;
    margin-left: 25%;
    background: white;
}



input {
	border:solid 1px;
	background:white;
	height:10%;
	width:100%;
	margin-bottom:3%;
	font-size:15px;
	color:black;
	outline-style: none;
}

input[type=submit]{
	width:100%;
	height:45px;
	float:right;
	font-size:25px;
	display:block;
	text-align:center;
	text-decoration:none;
	transition: .5s ease;
    color: rgb(0, 0, 0);
}

input[type=submit] :hover {
	transform: scale(1.1); 
	color: black;
	
}

textarea{
	border:solid 1px;
	background:white;
	height:40%;
	width:100%;
	font-size:15px;
	margin-bottom:4%;
	outline-style: none;
	resize: none;
	font-family: Roboto, sans-serif;
}

*/

.mini_titre{
	font-size: 25;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	color: white;
}

.info_contact{
	font-size: 15;
    color: white;
    padding: 20;
    margin-left: 19%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.titre_i_c{
	font-weight: bold;
}

.info_contact a{
    font-size: 15;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 400px){

	/*
	form{
		height:65%;
		width:80%;
		float:right;
		margin-right:10%;
	}

	.map-responsive{
		display: none;
	}
	
	input[type=submit]{
		width:100%;
	}
	*/

}