
/* --------------------------------- LES rond avec la presentaiotn de mes article  */

/*box mere*/
.presentationProjet {
    display: flex;
	background:gray;
    height: 475px;
    width: 475px;
    margin-left : 8%;
    float: left;
    margin-top: 7%;
    font-size: 20px;
	z-index:1000;
	border-radius:100%;
}


/*Les image*/

#A1{
	background-image : url('../image/veille1.PNG');
	background-size:cover;
}

#A2{
	background-image : url('../image/veille2.PNG');
	background-size:cover;
}

#A3{
	background-image : url('../image/veille3.PNG');
	background-size:cover;
}

#A4{
	background-image : url('../image/veille4.PNG');
	background-size:cover;
}

#A5{
	background-image : url('../image/fb.PNG');
	background-size:cover;
}

#A6{
	background-image : url('../image/T5.PNG');
	background-size:cover;
}

#off{
    background-image : url('../image/rouage.png');
    background-size:cover;
}
/* --------pour le truc voir + qui saffiche ----------*/

.overlay  {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    left: 10;
    display: block;
    height: 88%;
	border-radius:100%;
}


/*Pour l'interieur du overlay*/

/*le titre rapide*/
.titre{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align:center;
	margin-top: 30px;
	z-index:1000;
}

/*la description rapide*/
.description{
	color: white;
	margin: 20%;
	margin-top:10%;
	font-size: 10px;
	text-align:center;
	text-align: justify;
	z-index:1000;
}

/*button qui ramene au projet*/
.boutton a{
	border: solid 3px;
    border-color: white;
    color: white;
    height: 40px;
    width: 155px;
    margin-left: 20%;
    float: left;
    margin-top: 10%;
	padding-top:5px;
    font-size: 20px;
    display: block;
    border-radius: 40px;
    text-decoration: none;
    transition: .5s ease;
    z-index: 1000;
}

/*information date sortie article*/
.date_presentation_article{
    font-size: 15px;
    float: right;

}

/*button qui a l'article*/
.btn_voir_article a{
    background: #00cdd4;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    float: right;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1600px){
   
    .presentationProjet{
        height: 325px;
        width: 325px;
    }
}


@media screen and (max-width: 400px){
   
    .presentationProjet{
        float:none;
        height: 51%;
        width: 85%;
        margin-left: 8%;
        margin-top: 10%;
    }
}